<% provide(:title,user_name(@user)) %>
<div class="row">
    <div class="col-md-3 left-part">
        <h3><%= link_to user_name(@user), @user %></h3>
        <%= image_tag @user.avatar, class: "avatar" %>
        <p>Email: <%= @user.email %></p>
    </div>
    
    <div class="col-md-9 right-part">
        <h3><%= user_name(@user) %>'s Gallery</h3>
        <%= render "show_user_gallery" %>
        <hr/>
        <h3><%= user_name(@user) %>'s Bookmarked Images</h3>
        <%= render "show_user_bookmark" %>
    </div>
</div>