<% provide(:title,user_page_button(@user.name, @user.id)) %>
<div class="row">
    <div class="col-md-3 left-part">
        <h3><%= link_to user_page_button(@user.name, @user.id), @user %></h3>
        <%= image_tag @user.avatar, class: "avatar" %>
        <p>Email: <%= @user.email %></p>
    </div>
    
    <div class="col-md-9 right-part">
        <h3><%= user_page_button(@user.name, @user.id) %>'s Gallery</h3>
        <div class="row">
            <% @user.images.each do |image| %>
            <div class="col-md-4">
                <a href=<%= image_path(image.id) %> class="thumbnail image-div">
                    <h4><%= image.name %></h4>
                    <%= image_tag image.file, style: "max-width:200px;max-height:200px" %>
                </a>
            </div>
            <% end %>
        </div>
        <hr/>
        <h3><%= user_page_button(@user.name, @user.id) %>'s Bookmarked Images</h3>
        <div class="row">
            <% @user.find_liked_items.each do |image| %>
            <div class="col-md-4">
                <a href=<%= image_path(image.id) %> class="thumbnail image-div">
                    <h4><%= image.name %></h4>
                    <%= image_tag image.file, style: "max-width:200px;max-height:200px" %>
                </a>
            </div>
            <% end %>
        </div>
    </div>
</div>