<%= form_for(@image_comment) do |f| %>
  <!--<% if @image_comment.errors.any? %>-->
  <!--  <div id="error_explanation">-->
  <!--    <h2><%= pluralize(@image_comment.errors.count, "error") %> prohibited this image_comment from being saved:</h2>-->

  <!--    <ul>-->
  <!--    <% @image_comment.errors.full_messages.each do |message| %>-->
  <!--      <li><%= message %></li>-->
  <!--    <% end %>-->
  <!--    </ul>-->
  <!--  </div>-->
  <!--<% end %>-->
  
  <!--<div class="field col-md-11 left-part">-->
  <!--  <%= f.text_area :comment, class: "comment-field", placeholder: "Comment" %>-->
  <!--  <% unless check_current_page %>-->
  <!--    <%= f.hidden_field :image_id, :value => @image.id %>-->
  <!--  <% end %>-->
  <!--</div>-->
  
  <!--<div class="actions col-md-1 right-part">-->
  <!--  <%= f.submit "Submit", class: "btn btn-md btn-info comment-button" %>-->
  <!--  <% if check_current_page %>-->
  <!--    <%= link_to "Cancel", :back, class: "btn btn-md btn-info button" %>-->
  <!--  <% end %>-->
  <!--</div>-->
  
  <span><%= f.text_area :comment, 
            placeholder: "Opiniate on this entry!", class: "text_area" %></span>
  <% unless check_current_page %>
    <%= f.hidden_field :image_id, :value => @image.id %>
  <% end %>
  <span><%= f.submit 'Post',  class: "btn btn-md btn-info comment-button" %></span>
<% end %>
