<% provide(:title, @image.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3 left-part">
    <h3><%= link_to user_name(@image.user), @image.user %></h3>
    <%= image_tag @image.user.avatar, class: "avatar" %>
    <p>Email: <%= @image.user.email %></p>
  </div>
  
  <div class="col-md-9 right-part">
    
    <h3><%= @image.name %></h3>
    <div class="jumbotron", style="text-align: center">
      <p>
        <%= image_tag @image.file, class: "img-responsive" %>
      </p>
      <br />
      <div>
        <h3><%= @image.title %></h3>
        
        <div style="text-align: left">
          <%= @image.detail %>
        </div>
      </div>
      
      <hr />
      <div style="text-align: right">
        <i>On <%= @image.created_at %></i>
      </div>
    </div>

      <% if user_signed_in? %>
      <div style="text-align:right; float:right">
        <% if @image.user_id==current_user.id %>
          <%= link_to 'Edit', edit_image_path(@image), class: "btn btn-md btn-info button" %> 
          <%= link_to "Delete", destroy_image_path(@image.id), data: { confirm: "Are you sure?" }, method: :delete,
                      class: "btn btn-md btn-danger button" %>
        <% end %>
      </div>
      <% end %>
      
      <div class="bookmark">
        <span class="bookmark-num"><%= @image.get_upvotes.size %></span>
        <% if user_signed_in? %>
          
          <% unless current_user.liked? @image %>
            <%= link_to like_image_path(@image), class: "bookmark", method: :put do %>
              <span class="twa twa-green-apple twa-4x"></span>
              <div class="label label-info">Bookmark</div>
            <% end %>
          <% else %>
            <%= link_to dislike_image_path(@image), class: "bookmark", method: :put do %>
              <span class="twa twa-apple twa-4x"></span>
              <div class="label label-info">Unbookmark</div>
            <% end %>
          <% end %>
        <% else %>
          <span class="twa twa-apple twa-4x"></span>
          <div class="label label-info">Bookmarked</div>
        <% end %>
      </div>
    <hr />
    
    <%= render 'image_comments/show' %>
    <!--<%= link_to 'Back', images_path, class: "btn btn-md btn-info button" %>-->
  </div>
</div>