<% provide(:title, @image.name) %>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @image.file %>
</p>

<p>
  <strong>User:</strong>
  <% if @image.user.name.empty? %>
    <%= @image.user.email %>
  <% else %>
    <%= @image.user.name %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @image.detail %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @image.created_at %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
